nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1300px;
    height: 80px;
    margin: 0 auto;
    padding: 5px;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #232222;
    border-radius: 30px;
}

.search_bar{
    outline: none;
    text-indent: 10px;
}

.search_bar {
    width: 800px;
    height: 40px;
    border: none;
    border-radius: 30px;
}

.search_icon {
    height: 35px;
    width: 35px;
    padding-right: 5px;
    transition: transform 0.3s ease;
}

.search:hover .search_icon {
    transform: scale(1.1);
    cursor: pointer;
}

.sign-in {
    transition: transform 0.3s ease;
}

.sign-in:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.heart_icon {
    height: 15px;
    width: 20px;
    transition: transform 0.3s ease;
}

.heart_icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.shopping_icon {
    height: 20px;
    width: 25px;
    transition: transform 0.3s ease;
}

.shopping_icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.menu_icon {
    height: 15px;
    width: 13px;
}

.categories_text {
    display: flex;
    align-items: center;
    gap: 7px;
    transition: transform 0.3s ease;
}

.categories_text:hover {
    transform: scale(1.05);
    cursor: pointer;
}

nav h1 {
    padding-bottom: 10px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(242, 144, 6);
    transition: transform 0.3s ease;
}

nav h1:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.categories {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 740px;
    height: 60px;
    margin: 0 auto;
    padding-left: 30px;
    gap: 44px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.categories:hover p {
    cursor: pointer;
}

.main_section {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 1290px;
    margin: 0 auto;
    gap: 30px;
    margin-top: 20px;
}

.left_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 880px;
    height: 380px;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.left_section:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.left_image {
    height: 380px;
    width: 360px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    width: 500px;
    height: 380px;
    background-color:#1E464B;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.text-section h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color:#FFFFFF;
}

.text-section button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color:#FFFFFF;
    color:#1E464B;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.text-section button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.right_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 380px;
    height: 380px;
    background-image: url(https://i.etsystatic.com/ij/09f093/8090584324/ij_600x600.8090584324_oo8iqbm7.png?version=0);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2.7px solid rgb(14, 139, 228);
    transition: transform 0.3s ease;
}

.right_section:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.right_section h3 {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    color:#FFFFFF;
    width: 250px;
    margin-left: 10px;
    font-weight: bolder;
}

.right_section button {
    border: none;
    background-color: transparent;
    color:#FFFFFF;
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-weight: bolder;
    transition: transform 0.3s ease;
}

.right_section button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.main_div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
}

.main_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.main_box img {
    height: 350px;
    width: 300px;
    border-radius: 10px;
}

.heading {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: black;
    font-weight: bolder;
    margin-left: 85px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    border-radius: 20px;
}

.box:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.heading_2 {
    text-align: center;
}

/* section 3 */


.main_div3 {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    padding: 20px;
}

.main_box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.main_box3 img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.heading3 {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: black;
    font-weight: bolder;
    margin-left: 45px;
}

.box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    border-radius: 20px;
}

.box3:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.heading_3 {
    text-align: center;
}